<div class="container">
  
  <p>Draw example /crud</p>

  <div class="form-group">
    <a name="" id="btn-draw-line2" class="btn btn-outline-secondary" href="#" role="button">Draw Line</a>
    <a name="" id="btn-edit-line2" class="btn btn-outline-secondary" href="#" role="button">Edit Line</a>
    <a name="" id="btn-delete-line2" class="btn btn-outline-secondary" href="#" role="button">Delete Line</a>
  </div>

 
</div>