<div class="container">

  <div class="form-group">
    Simple example
  </div>
  <div class="form-group">
    <input type="text" name="" class="form-control" placeholder="textbox sample" aria-describedby="helpId">
  </div>
  <div class="form-group">
    <input type="text" name="" class="form-control" placeholder="" aria-describedby="helpId">
  </div>

  <div class="form-group">
    <div class="input-group mb-3">

      <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)">
      <div class="input-group-append">
        <span class="input-group-text">
          <i class="fa fa-globe" aria-hidden="true"></i>
        </span>
      </div>
    </div>
  </div>
  <div class="form-group">
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text">$</span>
      </div>
      <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)">

    </div>
  </div>

  <hr>
  <div class="form-group">
    <a name="" id="a-submit" class="btn btn-outline-warning" data-dojo-attach-point="myButton" href="#" role="button">Submit</a>
    <a name="" class="btn btn-outline-secondary" href="#" role="button">Cancel</a>
  </div>

  <hr>
  <div class="form-group">
    <table id="example" class="table table-striped table-bordered" width="100%"></table>
  </div>
</div>